# .gitignore

# Python cache files
__pycache__/
*.py[cod]

# Jupyter notebook checkpoint files
.ipynb_checkpoints/

# Environment configuration
.env

# VSCode settings
.vscode/

# Virtual environment
venv/

# Node JS shit
package-lock.json

#Ignored dependencies folder
/dependencies

# Articles for testing
#testing_articles.txt